fastapi==0.115.0
uvicorn==0.30.6

numpy==1.26.4
opencv-python-headless==4.10.0.84

onnxruntime==1.24.1
insightface==0.7.3

pydantic==2.9.2
starlette==0.38.6

psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-multipart==0.0.9

requests==2.32.3
Pillow==10.4.0

tqdm==4.66.5